/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.prodotto{
    display: inline-block;
    width: 300px;
}
/* /GENERAL */


/* .FOTOGRAFIA */
div.fotografia{
    position: relative;
}

img{
    width: 100%;
}

span.cuore{
    position: absolute;
    top: 3%;
    right: 0;
    background-color: white;
    padding: 5px 10px;
}

span.sconto, span.sostenibilità{
    font-size: xx-small;
    font-weight: bold;
    color: white;
}

div.etichette{
    position: absolute;
    bottom: 5%;
    left: 0;
}

span.sconto{
    background-color: red;
    padding: 3px;
}

span.sostenibilità{
    background-color: green;
    padding: 3px;
}
/* /.FOTOGRAFIA */


/* .DIDASCALIA */
.marca{
    color: grey;
    font-size: x-small;
    font-weight: 600;
}

h5{
    text-transform: uppercase;
}

div.didascalia span{
    font-weight: 800;
    font-size: xx-small;
}

.prezzo{
    color: red;
}

.barrato{
    text-decoration: line-through;
}