/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.prodotto{
    display: inline-block;
    width: 300px;
}
/* /GENERAL */


/* .FOTOGRAFIA */
div.fotografia{
    position: relative;
}

img{
    width: 100%;
}

span.cuore{
    position: absolute;
    top: 3%;
    right: 0;
    background-color: white;
    padding: 5px 10px;
}
/* /.FOTOGRAFIA */


/* .DIDASCALIA */
.marca{
    color: grey;
    font-weight: bold;
    font-size: small;
}

h5{
    text-transform: uppercase;
}

div.didascalia span{
    font-weight: bolder;
    font-size: x-small;
}

.prezzo{
    color: red;
}

.barrato{
    text-decoration: line-through;
}