/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 45%;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.prodotto{
    float: left;
    width: calc(100% / 3);
    padding: 0px 5px 30px;
}
/* /GENERAL */


/* .FOTOGRAFIA */
div.fotografia{
    position: relative;
}

img{
    width: 100%;
}

span.cuore{
    position: absolute;
    top: 3%;
    right: 0;
    background-color: white;
    padding: 3px 6px;
    font-size: small;
}

div.etichette{
    position: absolute;
    bottom: 4%;
    left: 0;
}

span.sconto, span.sostenibilità{
    font-weight: 450;
    color: white;
    font-size: 6px;
}

span.sconto{
    background-color: rgb(235, 0, 54);
    padding: 3px;
}

span.sostenibilità{
    background-color: rgb(0, 133, 88);
    padding: 3px;
}
/* /.FOTOGRAFIA */


/* .DIDASCALIA */
.didascalia{
    font-size: 12px;
    font-weight: 600;
}

.marca{
    color: grey;
}

h3{
    text-transform: uppercase;
    font-weight: 700;
}

.prezzo{
    color: red;
}

.barrato{
    color: grey;
    text-decoration: line-through;
}
/* /.DIDASCALIA */


/* PRODOTTI HOVER*/
.seconda-img{
    display: none;
}

.fotografia:hover .prima-img{
    display: none;
}

.fotografia:hover .seconda-img{
    display: inline-block;
}
/* /PRODOTTI HOVER*/


/* PRIMA DELLA CORREZIONE, METODO "CONTENT" */
/* div.prodotto:hover{
    cursor: pointer;
    display: hide;
}

div.fotografia.uno img:hover{
    content: url(img/1b.webp);
}

div.fotografia.due img:hover{
    content: url(img/2b.webp);
}

div.fotografia.tre img:hover{
    content: url(img/3b.webp);
}

div.fotografia.quattro img:hover{
    content: url(img/4b.webp);
}

div.fotografia.cinque img:hover{
    content: url(img/5b.webp);
}

div.fotografia.sei img:hover{
    content: url(img/6b.webp);
} */